In [ ]:
SQL

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 73.0 MB/s eta 0:00:00:00:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159122 sha256=1065c62c22f11834b86435a33faef944eceab6a4dff7b1c03dba14cc83489fd5
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/ef/95/ac/c232f83b415900c26553c64266e1a2b2863bc63e7a5d606c7e
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas==1.1.5

In [6]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [9]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [10]:
%sql SELECT UNIQUE(LAUNCH_SITE) FROM EDA

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "UNIQUE": syntax error
[SQL: SELECT UNIQUE(LAUNCH_SITE) FROM EDA]
(Background on this error at: http://sqlalche.me/e/e3q8)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [12]:
%sql SELECT * FROM EDA WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: EDA
[SQL: SELECT * FROM EDA WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5]
(Background on this error at: http://sqlalche.me/e/e3q8)

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [13]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) FROM EDA WHERE CUSTOMER = 'NASA (CRS)'

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: EDA
[SQL: SELECT SUM(PAYLOAD_MASS__KG_) FROM EDA WHERE CUSTOMER = 'NASA (CRS)']
(Background on this error at: http://sqlalche.me/e/e3q8)

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [14]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) FROM EDA WHERE BOOSTER_VERSION LIKE 'F9 v1.1%'

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: EDA
[SQL: SELECT AVG(PAYLOAD_MASS__KG_) FROM EDA WHERE BOOSTER_VERSION LIKE 'F9 v1.1%']
(Background on this error at: http://sqlalche.me/e/e3q8)

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [15]:
%sql SELECT MIN(DATE) FROM EDA WHERE LANDING__OUTCOME = 'Success (ground pad)'

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: EDA
[SQL: SELECT MIN(DATE) FROM EDA WHERE LANDING__OUTCOME = 'Success (ground pad)']
(Background on this error at: http://sqlalche.me/e/e3q8)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [16]:
%sql SELECT UNIQUE(BOOSTER_VERSION) FROM EDA WHERE (LANDING__OUTCOME = 'Success (drone ship)') & PAYLOAD_MASS__KG_ > 4000 & PAYLOAD_MASS__KG_ < 6000

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "UNIQUE": syntax error
[SQL: SELECT UNIQUE(BOOSTER_VERSION) FROM EDA WHERE (LANDING__OUTCOME = 'Success (drone ship)') & PAYLOAD_MASS__KG_ > 4000 & PAYLOAD_MASS__KG_ < 6000]
(Background on this error at: http://sqlalche.me/e/e3q8)

### Task 7




##### List the total number of successful and failure mission outcomes

In [17]:
%sql SELECT MISSION_OUTCOME,COUNT(*) FROM EDA GROUP BY MISSION_OUTCOME

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: EDA
[SQL: SELECT MISSION_OUTCOME,COUNT(*) FROM EDA GROUP BY MISSION_OUTCOME]
(Background on this error at: http://sqlalche.me/e/e3q8)

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [18]:
%sql SELECT UNIQUE(BOOSTER_VERSION) FROM EDA WHERE PAYLOAD_MASS__KG_ IN (SELECT MAX(PAYLOAD_MASS__KG_) FROM EDA)

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "UNIQUE": syntax error
[SQL: SELECT UNIQUE(BOOSTER_VERSION) FROM EDA WHERE PAYLOAD_MASS__KG_ IN (SELECT MAX(PAYLOAD_MASS__KG_) FROM EDA)]
(Background on this error at: http://sqlalche.me/e/e3q8)

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [19]:
%sql SELECT LANDING__OUTCOME, BOOSTER_VERSION, LAUNCH_SITE FROM EDA WHERE (YEAR(DATE) = 2015) & (LANDING__OUTCOME = 'Failure (drone ship)')

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: EDA
[SQL: SELECT LANDING__OUTCOME, BOOSTER_VERSION, LAUNCH_SITE FROM EDA WHERE (YEAR(DATE) = 2015) & (LANDING__OUTCOME = 'Failure (drone ship)')]
(Background on this error at: http://sqlalche.me/e/e3q8)

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [20]:
%sql SELECT LANDING__OUTCOME, COUNT(LANDING__OUTCOME) FROM EDA GROUP BY LANDING__OUTCOME ORDER BY COUNT(LANDING__OUTCOME) DESC

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: EDA
[SQL: SELECT LANDING__OUTCOME, COUNT(LANDING__OUTCOME) FROM EDA GROUP BY LANDING__OUTCOME ORDER BY COUNT(LANDING__OUTCOME) DESC]
(Background on this error at: http://sqlalche.me/e/e3q8)